/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #0f0f0f;
  color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER STYLING */
.yt-logo {
  height: auto;
  width: 50px;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-container > div {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}

header {
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.middle-container {
  cursor: pointer;
}

.search-box {
  margin: 0;
  background-color: #0f0f0f;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  width: 350px;
  height: 20px;
  border: 1px solid #2c2c2c;
  border-radius: 30px 0px 0px 30px;
  transition: border-color 0.1s;
  outline: none;
}

.search-box:focus {
  border: 2px solid rgba(0, 140, 255, 0.63);
}

.search-icon {
  background-color: #2c2c2c;
  padding: 13px 20px;
  margin-right: 15px;
  border-radius: 0 30px 30px 0;
}

.fa-microphone {
  background-color: #2c2c2c;
  padding: 15px 20px;
  border-radius: 100%;
  cursor: pointer;
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}

.right-container > * {
  cursor: pointer;
}

.create-btn {
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  margin: 0 15px;
}

.create-btn:hover {
  background-color: #454545;
}

.create-btn > i {
  margin: 0 5px;
}

.avatar {
  margin: 0 15px;
  width: 35px;
  height: auto;
  border-radius: 100%;
  border: 1px solid #2c2c2c;
  cursor: pointer;
}

/* Main Section */

.main-conatiner {
  display: flex;
  min-height: 90vh;
}

/* SIDEBAR */
.sidebar {
  flex: 1;
  overflow: auto;
  scrollbar-width: thin;
  max-height: 90vh;
}

.page-btn {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.page-btn:hover {
  border: 1px solid #454545;
  background-color: #272727;
}

.selected {
  border: 1px solid #454545;
  background-color: #272727;
}

.page-btn > i {
  margin-right: 15px;
}

.sidebar > hr {
  color: #454545;
  margin: 0 5px;
}

.you-btn {
  margin-bottom: 15px;
}

.you-btn > i {
  margin-left: 5px;
}

.section-heading {
  margin: 10px 5px;
  padding: 10px;
  font-weight: bold;
}

.yt-channel-small-container {
  display: flex;
  align-items: center;
  padding: 7px;
  transition: background-color 0.1s;
}

.yt-channel-small-container > img {
  width: 25px;
  height: auto;
  border-radius: 100%;
  margin-right: 15px;
}

.list-containers {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
  padding: 10px;
  color: rgb(171, 171, 171);
}

/* VIDEO SECTION */
.video-section {
  flex: 6;
  padding: 10px;
  padding-left: 40px;
}

.genre-btns {
  display: flex;
  gap: 15px;
  max-height: 50px;
  overflow-x: auto; /* Enable horizontal scroll */
  white-space: nowrap;
}

.genre-btns li {
  background-color: #2c2c2c;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

#foo {
  background-color: white;
  color: #0f0f0f;
}
